// Style for PokedexCard component
.pokedex-card {
  padding: 20px;
  background: $color-white;
  border-radius: 3px;
  box-shadow: 0 2px 5px 0 $color-box-shadow-default;
  transition: all ease .2s;
  &:hover {
    box-shadow: 0 2px 12px 5px $color-box-shadow-default;
  }

  .pokedex-card-img {
    width: 100%;
  }

  .pokedex-card-details {
    .pokedex-card-details__number {
      color: $color-marmol;
    }
    .pokedex-card-details__title {
      font-size: 22px;
      font-weight: 300;
    }
  }
}
