// Skeleton for global styles
*,
body {
  margin: 0;
  outline: 0 none;
  padding: 0;
}

// Pokedex filters section
.pokedex-filters {
  min-height: 80px;
  padding: 35px 0;
}

// Pokedex detail section
.pokedex-item {
  min-height: 1000px;
  .pokedex-detail__image {
    width: 100%;
  }
  .pokedex-tag {
    padding: 0.5em 1em;
  }
}
